.stock-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    margin-top: 5px;
}
.stock-row>*{
    padding-right: 20px;
}

.stock-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}