.stock-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid gray;
    width: 70%;
    
}
.stock-row>*{
    padding-right: 20px;
}